{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h4>Faites le choix</h4>
        <h2>De gagner du temps</h2>
        <h4>Votre domiciliation à Montpellier</h4>
        <p>1400 rue de la Castelle-34070 Montpellier GAROSUD</p>

        <a href="{{ path('default.offers') }}" class="btn btn-primary">Nos contrats</a>

    </div>


{% endblock %}