{% extends 'admin/base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Nom</th>
            <th>-</th>
        </tr>

        {% for form in forms %}
            <tr>
                <td>{{ form.name }}</td>
                <td>
                    <a href="{{ path('admin.form.edit', {formEntity: form.id}) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}