{% extends 'admin/base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Nom</th>
            <th>-</th>
        </tr>

        {% for type in types %}
            <tr>
                <td>{{ type.name }}</td>
                <td>
                    <a href="{{ path('admin.type.edit', {type: type.id}) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}